.LandPage {
    display: flex;
    flex-direction: row;

    height: 100vh;

    user-select: none;
}





.LPleft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Carter One', cursive;
    font-size: 7rem;
    font-weight: 800;

    overflow: hidden;
}
.LPleft span {
    padding: 2.5px;

    filter: drop-shadow(1px 0 #fff);

    color: #000;
}
.LPleft:hover span {
    animation: rotate 1.5s;
}
@keyframes rotate {
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: scale(1.2);
        padding: 5px;
    }
    75% {
        transform: rotate(-25deg);
    }
}





.LPright {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.LPright > .icons {
    scale: 12;
}
.icons .row {
    padding: .1rem;
    display: flex;
    gap: .5rem;
}
.row .icon {
    /* Change color to #fff*/
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(321deg) brightness(108%) contrast(101%);
}
.row .icon:hover {
    /* Change color to #ff6a00*/
    filter: invert(58%) sepia(70%) saturate(5559%) hue-rotate(1deg) brightness(106%) contrast(106%);
    animation: show 850ms;
}
@keyframes show {
    50% {
        scale: 1.1;
    }
}








@media screen and (max-width: 1100px) {
    .LPleft {
        font-size: 5rem;
    }
    .LPright > .icons {
        scale: 8;
    } 
}

@media screen and (max-width: 900px) {
    .LandPage {
        flex-direction: column;
        background-image: linear-gradient(180deg, #000 50%,  #fff 50%);
    }
    .LPleft span {
        color: #fff;
    }
    .row .icon {
        /* to #000 */
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(125deg) brightness(98%) contrast(102%);
    }
    
    .LPright > .icons {
        display: flex;
        flex-direction: row;
        scale: 5;
    }
}


@media screen and (max-width: 450px) {
    .LPleft {
        font-size: 4rem;
    }
    .LPright > .icons {
        scale: 4;
    } 
}