.LandPage {
    display: flex;
    flex-direction: row;

    height: 100vh;

    user-select: none;
}





.LPleft {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.LPleft > .name {
    display: flex;
    flex-direction: column;

    font-size: 4rem;
    line-height: 6rem;
}
.im {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    width: 100%;
}




.LPright {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1rem;
    
    overflow: hidden;
}
.LPright > .icon {
    --time: 1s;
    animation: move 3s infinite;
}
.icon:nth-child(0) {animation-delay: calc(var(--time)/1);}
.icon:nth-child(1) {animation-delay: calc(var(--time)/2);}
.icon:nth-child(2) {animation-delay: calc(var(--time)/3);}
.icon:nth-child(3) {animation-delay: calc(var(--time)/4);}
@keyframes move {
    from, to {
        transform: rotate(-5deg);
        translate: 0 -3rem;
    }
    50% {
        transform: rotate(5deg);
        translate: 0 3rem;
    }
}





@media screen and (max-width: 950px) {
    .LPleft > .name {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .LandPage {
        flex-direction: column;
        background-image: linear-gradient(180deg, #000 50%,  #fff 50%);
    }
    .LPleft > .name {
        display: flex;
        flex-direction: column;
    
        font-size: 3rem;
        line-height: 5rem;

        color: #fff;
    }
}
@media screen and (max-width: 350px) {
    .LPleft > .name {
        font-size: 2rem;
        line-height: 4rem;
    }
}