@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.NavBar {
    position: fixed;

    width: 100%;
    height: 100vh;

    z-index: 100;

    font-family: 'Poiret One', cursive;

    background: #000;
}
.noBar {
    position: fixed;
    background: transparent;
}





.NavBar > .nIcon,
.noBar > .nIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;

    z-index: 200;

    cursor: pointer;

    border: none;
    outline: none;

    width: 4.5rem;
    aspect-ratio: 1;

    border-bottom-right-radius: 25px;

    background: #fff;
}
.nIcon > .home {
    scale: 2;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(49deg) brightness(97%) contrast(101%);
}





.showNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
}
.hideNav {
    display: none;
}