.WCardGroup {
    display: flex;
    flex-direction: column;

    padding: 2px 0;

    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;

    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.WCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    height: 24rem;

    overflow: hidden;
}

.WCard > .overf {
    flex: 1;

    height: 100%;
}
.overf > img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    margin: 5px 0;

    border-radius: 10px;
}
.WCard .info {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 5px;
    gap: 2.5px;
    
    text-align: center;
    font-family: 'Poiret One', cursive;
}
.WCard h2 {
    font-size: 7rem;
    line-height: 7rem;
    -webkit-text-stroke: 3px #ff6a00;

    color: #ff6a00;
}
.WCard p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #fff;
}
.WCard .info:hover h2,
.WCard .info:focus h2,
.WCard .info:hover p,
.WCard .info:focus p {
    transition: .3s;
}
.WCard .info:hover h2 ,
.WCard .info:focus h2 {
    font-size: 6rem;
    -webkit-text-stroke: 3px #fff;

    color: #fff;
}
.WCard .info:hover p,
.WCard .info:focus p {
    font-size: 2rem;
    color: #ff6a00;
}





@media screen and (max-width: 950px) {
    .WCard {
        flex-direction: column;
        height: auto;

        margin-bottom: 1rem;
    }

    .WCard > .overf {
        width: 100%;
        flex: 0;
    }
    .WCard .info {
        flex: 0;
        gap: 0;

        padding-left: 1rem;

        align-items: start;
        text-align: left;
    }
    .WCard h2 {
        font-size: 6rem;
        line-height: 6rem;
        color: #ff6a00;
        -webkit-text-stroke: 2px #ff6a00;
    }
    .WCard p {
        line-height: 1.3rem;
        font-size: 1.3rem;
    }
    .WCard .info:hover h2 ,
    .WCard .info:focus h2 {
        font-size: 4rem;
        -webkit-text-stroke: 2px #fff;
    }
    .WCard .info:hover p,
    .WCard .info:focus p {
        font-size: 2rem;
    }
}


@media screen and (max-width: 600px) {
    .WCard h2 {
        font-size: 4rem;
        line-height: 4rem;
        color: #ff6a00;
        -webkit-text-stroke: 1px #ff6a00;
    }
    .WCard p {
        font-size: 1rem;
        line-height: 1rem;
    }
    .WCard .info:hover h2 ,
    .WCard .info:focus h2 {
        font-size: 2.5rem;
        -webkit-text-stroke: 1.5px #fff;
    }
    .WCard .info:hover p,
    .WCard .info:focus p {
        font-size: 1.5rem;
    }
}